conformance/results/*.png filter=lfs diff=lfs merge=lfs -text
conformance/results/*.jpg filter=lfs diff=lfs merge=lfs -text
playground/Rend.Playground/wwwroot/fonts/*.ttf filter=lfs diff=lfs merge=lfs -text
